
nav{
  display:flex;
  background-color: rgba(9, 9, 91, 0.732);
  justify-content: space-between;
  padding: 10px;
  align-items: center;

}
nav ul{
  display: flex;
  color: aliceblue;
  list-style: none;
  justify-content: space-between;
  width: 50%;
}
.banner img{
  width: 100%;
  
}